# Server Port
PORT=

# CORS Configuration (comma separated)
CORS_ORIGIN=

# JWT Configuration
JWT_SECRET=

# Check-in Configuration
MAX_CHECKIN_DISTANCE=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=email_cua_ban@gmail.com
MAIL_PASS=xxxx yyyy zzzz wwww
MAIL_FROM=no-reply@acta.vn